[Unit]
Description=Vulperine Installer
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/install-script
Restart=on-failure
User=ton_utilisateur

[Install]
WantedBy=multi-user.target
